body{
    background-color: black;
}
header{
    font-size: 20px;
    background-color: whitesmoke;
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color:darkslategrey;
    margin: auto;
    padding: 50px;
    text-align: center;
}
main{
    font-size: 20px;
}
footer{
    font-size: 20px;
}
h2{
    font-size: 30px;
}